/* @import url("./colors.css"); */
@import url("/home/fracas/.cache/wal/colors-waybar.css");

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

.modules-left {
  padding-left: 8px;
}

.modules-right {
  padding-right: 8px;
}

/* #workspaces button { */
/*   padding: 0 6px; */
/*   color: @foreground; */
/*   background: transparent; */
/* } */
/* #workspaces button.active { */
/*   color: @orange; */
/* } */
/* #workspaces button.empty { */
/*   color: @foreground; */
/* } */
/* #workspaces button.empty.active { */
/*   color: @orange; */
/* } */
/**/
/* #workspaces button.urgent { */
/*   background-color: @red; */
/* } */

#clock,
#custom-sep,
#cpu,
#memory,
#disk,
#network {
  padding: 0 4px;
  color: @foreground;
}

#clock {
  color: @color3;
}

#custom-sep {
  color: @foreground;
}

#network {
  color: @color5;
}

#network.disconnected {
  color: @color9;
}

#cpu {
  color: @blue;
}

#memory {
  color: @orange;
}

#pulseaudio {
  color: @color6;
}

#disk {
  color: @color11;
}

#keyboard-state {
  color: @purple;
}

#idle_inhibitor.deactivated {
  color: @color12;
  padding: 0 4px;
}

#idle_inhibitor.activated {
  color: @color13;
  padding: 0 4px;
}
