layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="docker" split_direction="Vertical" cwd="/Users/francesco/Projects/Work/contexts/" {
        pane name="docker"
    }
    tab name="pro" split_direction="Vertical" cwd="/Users/francesco/Projects/Work/contexts/repos/spiagge-pro/" {
        pane name="pro"
    }
    tab name="api" split_direction="Vertical" cwd="/Users/francesco/Projects/Work/contexts/repos/spiagge-api/" {
        pane name="api"
    }
    tab name="pam" split_direction="Vertical" cwd="/Users/francesco/Projects/Work/contexts/repos/pam/" {
        pane name="pam"
    }
    tab name="b2bridge" split_direction="Vertical" cwd="/Users/francesco/Projects/Work/contexts/repos/b2bridge/" {
        pane name="b2bridge"
    }
    tab name="team" split_direction="Vertical" cwd="/Users/francesco/Projects/Work/contexts/repos/yourbeachteam/app/" {
        pane name="team"
    }
}
